.ust-ikinci-kisim {

background-color: skyblue;
}

.ust-kısım {
   background-color: peachpuff;




}


body {

background-image: url(destkop/wp3549816-solid-neon-colors-backgrounds (1).jpg)

}


